*{
	margin: 0;
	padding: 0;
}

.mapa{
	width: 100vw;
	height: 100vh;
}

.menu{
	position: absolute;
	z-index: 1;
	background: #fff;
	padding: 1%;
	margin-top: 1%;
	margin-left: 1%;
}

.search{
	background: url(../img/search.png) no-repeat;
	background-position: right;
	background-size: 6%;
	border:none;
	width: 300px;
}

.glyphicon-menu-hamburger{
	color: #000;
}
