/*Lista de entidades*/

section .lista-entidades{
    padding: 1.5%;
    padding-bottom: 0;
    background: #f7f9f9;
}

.lista-entidades i{
	padding: 6.8px 10px;
    background: red;
    border-radius: 50%;
    color: white;	
}

.lista-entidades.fecha{
	padding-bottom: 15px;
}

.btn-proyects{
    background: transparent;
    padding-left: 0!important;
    padding-top: 0!important;	
}

span.caret.drop-list-ent {
    margin-left: 5%;	
}

.celdas-lista-ent{
	padding-top: 1%;
	font-size: 12px;
}


.celdas-lista-ent .row{
    padding-top: 5px;
    border-bottom: 1px solid #f7f9f9;
}

.list-ent-btn{
	padding-top: 20px;
}

.col-md-10.np-list{
	padding:0;
}

.edit-hidden{
	display: none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
border:none;
outline:none;
}

.inputCajaEdit{
	padding: 5px 15px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 5px blue;
}