@import url('https://fonts.googleapis.com/css?family=Raleway');

#logo{
	width: 31%;
  margin-top: 15%;
}
#login{
  margin-top: 5%;
  background: orange !important;
  border: 1px solid orange !important;
  width: 28%;
  font-size: 20px;
}
.container-foto{
	position: absolute;
    top: 9px;
    z-index: 30;
    right: 0px;
    text-align: center;
}
#perfil{
	border-radius: 100%;
    height: 111px;
	width: 58%;
}
#nombreUsuario{
	background: #B2BABB;
    color: white;
    border-radius: 5px;;
    color: white;
    border-radius: 5px;
}
/*  uniendo*/

*{
	margin: 0;
	padding: 0;
}

.mapa{
	width: 100%;
	height: 100vh;
}

.menu{
	position: absolute;
	border-radius: 10px;
	z-index: 1;
	background: #fff;
	padding: 1%;
	margin-top: 2%;
	margin-left: 2%;
}

.search1{
	cursor: pointer;
	background: url(../img/search.png) no-repeat;
	background-position: right;
	background-size: 65%;
	border:none;
	width: 30px;
}

.search, .search1:focus{
	outline: none;

}
.search{
	margin-left: 10px;
	border:none;
	width: 330px;
}

.glyphicon-menu-hamburger{
	color: #000;
}

#slide label{
	margin-top: 7px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

.title{
	font-size: 1.3em;
	font-weight: bold;
}
#slide{
	width: 100%;
	display: none;
	padding: 1%;
	margin-top: 19%;
	margin-left: 2%;
    background: white;
    position: absolute;
    z-index: 2;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 550px; 
}
.reducir{
	max-height: 290px;
}
#slide div{
	padding: 1%;
	font-family: 'Raleway', sans-serif;
}
.divide{
	border-top: 1px solid black
}
.show{
	display: block;
}

section .crear{
	margin: 2%;
	padding: 1%;
	border-radius: 10px;
	display: none;
	position: absolute;
    z-index: 3;
    background: white;
    right: 0;
}
section .crear label{
	font-size: 10px;
} 
section .crear .row{
	padding: 5px;
}
.scroll{
	max-height:300px;
	overflow-x: hidden;
	overflow-y: scroll; 
}
.modalEstilos{
	width: 60% !important;
	margin-left: 35% !important;
}
.espacio{
	width:75% !important;
	margin-left:25% !important;
}
.entidades{
	border-radius: 4px;
    height: 35px;
    margin: 7px 0px;
    width: 325px;
    border:1px solid #D8D8D8;
}
.glyphicon{
	cursor: pointer;
}

/*Lista de entidades*/
.container-lista-entidades{
	bottom: 0;
    position: absolute;
    width: 100%;
    background: white;
    z-index: 30;
    display: none;
}
section .lista-entidades{
    padding: 1.5%;
    padding-bottom: 0;
    background: #f7f9f9;
}

.lista-entidades.fecha{
	padding-bottom: 15px;
}

.btn-proyects{
    background: transparent;
    padding-left: 0!important;
    padding-top: 0!important;	
}

span.caret.drop-list-ent {
    margin-left: 5%;	
}

.celdas-lista-ent{
	padding-top: 1%;
	font-size: 12px;
}


.celdas-lista-ent .row{
    padding-top: 5px;
    border-bottom: 1px solid #f7f9f9;
}

.list-ent-btn{
	padding-top: 20px;
}

.col-md-10.np-list{
	padding:0;
}

.edit-hidden{
	display: none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
border:none;
outline:none;
}

.inputCajaEdit{
	padding: 5px 15px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 5px blue;
}
.row-lista{
	margin-right: 0;
	margin-left: 0;
}

